<!DOCTYPE html>
<html>
<head>
  <title>Vinyl</title>
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
  <link rel="stylesheet" type="text/css" href="/normalize.css">
  <link rel="stylesheet" type="text/css" href="/skeleton.css">
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>

  <% include navbar %>

  <div class="container">
    <h1>ERROR</h1>
    <h2><%= error.message %></h2>
    <pre><%= error.stack %></pre>
  </div>

</body>
</html>
