<!DOCTYPE html>
<html>
<head>
  <title>Vinyl : Sign In</title>
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
  <link rel="stylesheet" type="text/css" href="/normalize.css">
  <link rel="stylesheet" type="text/css" href="/skeleton.css">
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>

  <% include navbar %>

  <div class="flex-column">
    <h1>Sign In</h1>

    <form method="post" action="/signin" class="flex-column">
      <div class="row">
        <div class="one-half column">
          <label class="form-input">
            Email
          </label>
        </div>
        <div class="one-half column">
          <input name="email" type="text">
        </div>
      </div>

      <div class="row">
        <div class="one-half column">
          <label class="form-input">
            Password
          </label>
        </div>
        <div class="one-half column">
          <input name="password" type="password">
        </div>
      </div>

      <input type="submit" value="Sign In">
    </form>
  </div>

</body>
</html>
