<!DOCTYPE html>
<html>
<head>
  <title>Vinyl : Sign Up</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
  <script type="text/javascript" src="/script.js"></script>
</head>
<body>

  <% include navbar %>

  <div class="flex-column">
    <h1>Sign up for Vinyl</h1>

    <form method="post" action="/signup" class="flex-column">
      <label class="form-input">
        Name
        <input name="name" type="text">
      </label>

      <label class="form-input">
        Email
        <input name="email" type="text">
      </label>

      <label class="form-input">
        Password
        <input name="password" type="password">
      </label>

      <input type="submit" value="Sign Up">
    </form>
  </div>

</body>
</html>
