a {
  text-decoration: none;
}

.navbar {
  margin: 1rem;
}

.main-image {
  width: 100%;
  height: 40vh;
  background-image: url(vinyl.jpg);
  font-size: 15rem;
  color: white;
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  background-position: center;
  background-size: cover;
}

.main-title {
  font-size: 10rem;
  color: white;
  margin-left: 1rem;
}

.album {
  margin: 1.5em 0;
}

.album-title {
  font-size: 1.8rem;
}

.artist {
  font-size: 1.2rem;
}

.review {
  margin-top: 1.5rem;
  margin-bottom: 7rem;
}

.review-text {
  margin: 1rem 0;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 6rem;
}

.trash-can:hover {
  cursor: pointer;
}
